.footer {
  color: black;
  padding: 25px;
  border-top: 0.1px solid grey;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-weight: 400;
  padding: 10px;
}

